#contact-div {
  width: 100%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  background-color: #467750;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.contact-heading {
  width: 100%;
}

.contact-heading h3 {
  margin: 0px;
  padding: 0px;
  line-height: 5px;
}

.contact-heading h5 {
  font-style: italic;
}

.contact-input,
textarea {
  margin: 10px 0px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #ebe7ef;
}

.input-item {
  display: flex;
  flex-direction: column;
}

textarea {
  width: 100%;
  resize: vertical;
}

.submit {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #2a3f3f;
  background-color: #2a3f3f;
  color: #ebe7ef;
}

.submit:hover {
  background-color: #ebe7ef;
  color: #467750;
  border-color: #467750;
}

.contact-err-div {
  width: 100%;
  justify-content: center;;
  background-color: #ebe7ef;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 10px;
}

.contact-success {
  color: #ebe7ef;
}

.contact-error {
  color: red;
}

@media (min-width: 1001px) {
  #contact-div {
    max-width: 800px;
    margin: 0 auto;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form .input-group {
    display: flex;
    gap: 10px; 
  }
  .contact-form .input-group > * {
    flex: 1;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .contact-form {
    max-width: 75%;
  }
}

@media (max-width: 600px) {
  .contact-form {
    max-width: 90%;
  }
}
